@model TandE.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecipeId" />
            <div class="form-group">
                <label asp-for="RecipeName" class="control-label"></label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefURL2" class="control-label"></label>
                <input asp-for="RefURL2" class="form-control" />
                <span asp-validation-for="RefURL2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefURL3" class="control-label"></label>
                <input asp-for="RefURL3" class="form-control" />
                <span asp-validation-for="RefURL3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefURL4" class="control-label"></label>
                <input asp-for="RefURL4" class="form-control" />
                <span asp-validation-for="RefURL4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersionNotes" class="control-label"></label>
                <input asp-for="VersionNotes" class="form-control" />
                <span asp-validation-for="VersionNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdeaID" class="control-label"></label>
                <select asp-for="IdeaID" class="form-control" asp-items="ViewBag.IdeaID"></select>
                <span asp-validation-for="IdeaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Method" class="control-label"></label>
                <input asp-for="Method" class="form-control" />
                <span asp-validation-for="Method" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
