@model TandE.Models.TEViewModels.IdeaViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Recipe Ideas</h2>

<p>
    <a class="btn btn-info" asp-action="Create">Add Idea</a>
</p>

<div class="idealist">
    @foreach (var category in Model.ListofCategories)
    {
        
        <h3>@category.CategoryName</h3>

            @foreach (var item in Model.ListofIdeas)
            {
                @if (item.Category.CategoryName == category.CategoryName)
                {
                    <p><a asp-action="Details" asp-route-id="@item.IdeaID">@item.IdeaName</a></p>


                }
            }
    }

</div>